In [208]:
# Import sqlite3, load connection and cursor
import sqlite3 
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

In [209]:
# Try to join some of the tables
cur.execute("""SELECT Date, HomeTeam, AwayTeam, FTR  
               FROM Teams_in_Matches
               JOIN Unique_Teams
               USING(Unique_Team_ID)
               JOIN Matches
               USING(Match_ID)
               WHERE Season = 2011
               GROUP BY Match_ID
               ;""")
import pandas as pd
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
print(len(df))
df.head()

992

         Date   HomeTeam       AwayTeam FTR
0  2012-03-31   Nurnberg  Bayern Munich   A
1  2011-12-11  Stuttgart  Bayern Munich   A
2  2011-08-13  Wolfsburg  Bayern Munich   A
3  2011-11-27      Mainz  Bayern Munich   H
4  2012-02-18   Freiburg  Bayern Munich   D

In [211]:
df.Date[0]

'2012-03-31'

In [222]:
import time
import datetime
for dates in df.Date:
    df.New_Date = datetime.datetime.strptime(dates, "%Y/%m/%d").timestamp()

ValueError: time data '2012-03-31' does not match format '%Y/%m/%d'

In [221]:
df.New_Date

1294808400.0

In [216]:
import time
import datetime
import pandas as pd
for dates in df.Date:
    df.Date = pd.to_datetime(dates, "%Y/%m/%d").timestamp()

AssertionError:

In [194]:
import datetime
stime = "2011/01/12"
print(datetime.datetime.strptime(stime, "%Y/%m/%d").timestamp())

1294808400.0

In [217]:
t1=df.Date[0]
t1

'2012-03-31'

In [175]:
#datetime.datetime.strptime(t1, "%Y/%m/%d").timestamp()

In [218]:

ts = ciso8601.parse_datetime(t1)
# to get time in seconds:
time.mktime(ts.timetuple())

NameError: name 'ciso8601' is not defined

In [177]:
df.Date.head()

0    2012-03-31
1    2011-12-11
2    2011-08-13
3    2011-11-27
4    2012-02-18
Name: Date, dtype: object

In [179]:
import datetime as dt
df['UNIX_Date'] = pd.to_datetime(df['Date'])
#df['UNIX_Date'] = df['Date'].map(dt.datetime.toordinal)

In [180]:
df.UNIX_Date.head()

0   2012-03-31
1   2011-12-11
2   2011-08-13
3   2011-11-27
4   2012-02-18
Name: UNIX_Date, dtype: datetime64[ns]

In [186]:
df['UNIX_Date'] = pd.to_datetime(df["Date"], format = "%Y/%m/%d")
df.UNIX_Date.head()

0   2012-03-31
1   2011-12-11
2   2011-08-13
3   2011-11-27
4   2012-02-18
Name: UNIX_Date, dtype: datetime64[ns]

In [207]:
# Finally got the date column to a UNIX integer... or NOT!
for dates in df.Date:
    df['UNIX_Date'] = int(datetime.datetime.strptime(dates, "%Y/%m/%d").timestamp())

ValueError: time data '2012-03-31' does not match format '%Y/%m/%d'

In [201]:
df['UNIX_Date'].head()

0    1294808400
1    1294808400
2    1294808400
3    1294808400
4    1294808400
Name: UNIX_Date, dtype: int64

In [145]:
# Secret hidden api_key
import json

def get_keys(path):
    with open(path) as f:
        return json.load(f)

key = get_keys("/Users/whipxach/.secret/dark_sky_api.json")

api_key = key['api_key']

In [3]:
#from forecastio.api import load_forecast - Didn't work
import forcastio

api_key = api_key
lat = 52.520008
lng = 13.404954


forecast = forecastio.load_forecast(api_key, lat, lng)

ModuleNotFoundError: No module named 'forecastio'

In [ ]:
#print('{day}: {sum} Temp range: {tempMin} - {tempMax}'.format(**day))

In [46]:
# For Berlin 2011
import requests
response = requests.get('https://api.darksky.net/forecast/api_key/52.520008,13.404954,20120208')
print(response)
print(type(response.text))
print(response.text[0:450])

<Response [200]>
<class 'str'>
{"latitude":52.520008,"longitude":13.404954,"timezone":"Europe/Berlin","currently":{"time":20120208,"temperature":64.18,"apparentTemperature":64.5,"dewPoint":60.98,"humidity":0.89,"pressure":1010.6,"windSpeed":2.17,"windBearing":68,"cloudCover":1,"uvIndex":0},"hourly":{"data":[{"time":20041200,"windSpeed":8.05,"windBearing":90,"cloudCover":0.88,"uvIndex":0},{"time":20044800,"temperature":68.14,"apparentTemperature":68.14,"dewPoint":51.99,"humidit

In [13]:
print(response.text)

{"latitude":52.520008,"longitude":13.404954,"timezone":"Europe/Berlin","currently":{"time":20120218,"temperature":64.18,"apparentTemperature":64.5,"dewPoint":60.98,"humidity":0.89,"pressure":1010.6,"windSpeed":2.17,"windBearing":69,"cloudCover":1,"uvIndex":0},"hourly":{"data":[{"time":20041200,"windSpeed":8.05,"windBearing":90,"cloudCover":0.88,"uvIndex":0},{"time":20044800,"temperature":68.14,"apparentTemperature":68.14,"dewPoint":51.99,"humidity":0.56,"pressure":1011.4,"windSpeed":9.18,"windBearing":101,"cloudCover":0.88,"uvIndex":0},{"time":20048400,"windSpeed":8.05,"windBearing":101,"cloudCover":0.88,"uvIndex":0},{"time":20052000,"windSpeed":5.82,"windBearing":90,"cloudCover":0.88,"uvIndex":0},{"time":20055600,"temperature":64.18,"apparentTemperature":64.18,"dewPoint":55.04,"humidity":0.72,"pressure":1011,"windSpeed":8.05,"windBearing":80,"cloudCover":0.25,"uvIndex":0},{"time":20059200,"windSpeed":6.93,"windBearing":90,"cloudCover":0.25,"uvIndex":0},{"time":20062800,"windSpeed":8.05,"windBearing":110,"cloudCover":0.88,"uvIndex":0},{"time":20066400,"temperature":63.1,"apparentTemperature":63.1,"dewPoint":55.04,"humidity":0.75,"pressure":1011.2,"windSpeed":11.39,"windBearing":110,"cloudCover":0.38,"uvIndex":1},{"time":20070000,"windSpeed":13.88,"windBearing":110,"cloudCover":0.88,"uvIndex":1},{"time":20073600,"windSpeed":12.76,"windBearing":110,"cloudCover":0.88,"uvIndex":2},{"time":20077200,"temperature":70.11,"apparentTemperature":70.11,"dewPoint":57.02,"humidity":0.63,"pressure":1010.4,"windSpeed":12.76,"windBearing":110,"cloudCover":0.75,"uvIndex":3},{"time":20080800,"windSpeed":14.99,"windBearing":101,"cloudCover":0.88,"uvIndex":4},{"time":20084400,"windSpeed":13.88,"windBearing":90,"cloudCover":0.88,"uvIndex":4},{"time":20088000,"temperature":73.19,"apparentTemperature":73.19,"dewPoint":53.96,"humidity":0.51,"pressure":1009.9,"windSpeed":11.39,"windBearing":90,"cloudCover":1,"uvIndex":4},{"time":20091600,"windSpeed":9.18,"windBearing":90,"cloudCover":0.88,"uvIndex":3},{"time":20095200,"windSpeed":13.88,"windBearing":110,"cloudCover":0.88,"uvIndex":3},{"time":20098800,"temperature":75.15,"apparentTemperature":75.15,"dewPoint":51.99,"humidity":0.44,"pressure":1009.2,"windSpeed":11.39,"windBearing":110,"cloudCover":1,"uvIndex":2},{"time":20102400,"windSpeed":11.39,"windBearing":180,"cloudCover":1,"uvIndex":1},{"time":20106000,"windSpeed":6.93,"windBearing":170,"cloudCover":1,"uvIndex":0},{"time":20109600,"temperature":64.18,"apparentTemperature":64.5,"dewPoint":60.98,"humidity":0.89,"pressure":1010.4,"windSpeed":3.36,"windBearing":170,"cloudCover":1,"uvIndex":0},{"time":20113200,"windSpeed":3.36,"windBearing":161,"cloudCover":1,"uvIndex":0},{"time":20116800,"windSpeed":3.36,"windBearing":110,"cloudCover":1,"uvIndex":0},{"time":20120400,"temperature":64.18,"apparentTemperature":64.5,"dewPoint":60.98,"humidity":0.89,"pressure":1010.6,"windSpeed":2.24,"windBearing":71,"cloudCover":1,"uvIndex":0},{"time":20124000,"windSpeed":6.93,"windBearing":131,"cloudCover":1,"uvIndex":0}]},"daily":{"data":[{"time":20041200,"sunriseTime":20059200,"sunsetTime":20110920,"moonPhase":0.68,"windSpeed":9.12,"windBearing":108,"cloudCover":0.84,"uvIndex":4,"uvIndexTime":20084100}]},"flags":{"sources":["cmc","gfs","icon","isd","madis"],"nearest-station":1.22,"units":"us"},"offset":1}

In [51]:
response.json()

{'latitude': 52.520008,
 'longitude': 13.404954,
 'timezone': 'Europe/Berlin',
 'currently': {'time': 20120208,
  'temperature': 64.18,
  'apparentTemperature': 64.5,
  'dewPoint': 60.98,
  'humidity': 0.89,
  'pressure': 1010.6,
  'windSpeed': 2.17,
  'windBearing': 68,
  'cloudCover': 1,
  'uvIndex': 0},
 'hourly': {'data': [{'time': 20041200,
    'windSpeed': 8.05,
    'windBearing': 90,
    'cloudCover': 0.88,
    'uvIndex': 0},
   {'time': 20044800,
    'temperature': 68.14,
    'apparentTemperature': 68.14,
    'dewPoint': 51.99,
    'humidity': 0.56,
    'pressure': 1011.4,
    'windSpeed': 9.18,
    'windBearing': 101,
    'cloudCover': 0.88,
    'uvIndex': 0},
   {'time': 20048400,
    'windSpeed': 8.05,
    'windBearing': 101,
    'cloudCover': 0.88,
    'uvIndex': 0},
   {'time': 20052000,
    'windSpeed': 5.82,
    'windBearing': 90,
    'cloudCover': 0.88,
    'uvIndex': 0},
   {'time': 20055600,
    'temperature': 64.18,
    'apparentTemperature': 64.18,
    'dewPoint': 55.04,
    'humidity': 0.72,
    'pressure': 1011,
    'windSpeed': 8.05,
    'windBearing': 80,
    'cloudCover': 0.25,
    'uvIndex': 0},
   {'time': 20059200,
    'windSpeed': 6.93,
    'windBearing': 90,
    'cloudCover': 0.25,
    'uvIndex': 0},
   {'time': 20062800,
    'windSpeed': 8.05,
    'windBearing': 110,
    'cloudCover': 0.88,
    'uvIndex': 0},
   {'time': 20066400,
    'temperature': 63.1,
    'apparentTemperature': 63.1,
    'dewPoint': 55.04,
    'humidity': 0.75,
    'pressure': 1011.2,
    'windSpeed': 11.39,
    'windBearing': 110,
    'cloudCover': 0.38,
    'uvIndex': 1},
   {'time': 20070000,
    'windSpeed': 13.88,
    'windBearing': 110,
    'cloudCover': 0.88,
    'uvIndex': 1},
   {'time': 20073600,
    'windSpeed': 12.76,
    'windBearing': 110,
    'cloudCover': 0.88,
    'uvIndex': 2},
   {'time': 20077200,
    'temperature': 70.11,
    'apparentTemperature': 70.11,
    'dewPoint': 57.02,
    'humidity': 0.63,
    'pressure': 1010.4,
    'windSpeed': 12.76,
    'windBearing': 110,
    'cloudCover': 0.75,
    'uvIndex': 3},
   {'time': 20080800,
    'windSpeed': 14.99,
    'windBearing': 101,
    'cloudCover': 0.88,
    'uvIndex': 4},
   {'time': 20084400,
    'windSpeed': 13.88,
    'windBearing': 90,
    'cloudCover': 0.88,
    'uvIndex': 4},
   {'time': 20088000,
    'temperature': 73.19,
    'apparentTemperature': 73.19,
    'dewPoint': 53.96,
    'humidity': 0.51,
    'pressure': 1009.9,
    'windSpeed': 11.39,
    'windBearing': 90,
    'cloudCover': 1,
    'uvIndex': 4},
   {'time': 20091600,
    'windSpeed': 9.18,
    'windBearing': 90,
    'cloudCover': 0.88,
    'uvIndex': 3},
   {'time': 20095200,
    'windSpeed': 13.88,
    'windBearing': 110,
    'cloudCover': 0.88,
    'uvIndex': 3},
   {'time': 20098800,
    'temperature': 75.15,
    'apparentTemperature': 75.15,
    'dewPoint': 51.99,
    'humidity': 0.44,
    'pressure': 1009.2,
    'windSpeed': 11.39,
    'windBearing': 110,
    'cloudCover': 1,
    'uvIndex': 2},
   {'time': 20102400,
    'windSpeed': 11.39,
    'windBearing': 180,
    'cloudCover': 1,
    'uvIndex': 1},
   {'time': 20106000,
    'windSpeed': 6.93,
    'windBearing': 170,
    'cloudCover': 1,
    'uvIndex': 0},
   {'time': 20109600,
    'temperature': 64.18,
    'apparentTemperature': 64.5,
    'dewPoint': 60.98,
    'humidity': 0.89,
    'pressure': 1010.4,
    'windSpeed': 3.36,
    'windBearing': 170,
    'cloudCover': 1,
    'uvIndex': 0},
   {'time': 20113200,
    'windSpeed': 3.36,
    'windBearing': 161,
    'cloudCover': 1,
    'uvIndex': 0},
   {'time': 20116800,
    'windSpeed': 3.36,
    'windBearing': 110,
    'cloudCover': 1,
    'uvIndex': 0},
   {'time': 20120400,
    'temperature': 64.18,
    'apparentTemperature': 64.5,
    'dewPoint': 60.98,
    'humidity': 0.89,
    'pressure': 1010.6,
    'windSpeed': 2.24,
    'windBearing': 71,
    'cloudCover': 1,
    'uvIndex': 0},
   {'time': 20124000,
    'windSpeed': 6.93,
    'windBearing': 131,
    'cloudCover': 1,
    'uvIndex': 0}]},
 'daily': {'data': [{'time': 20041200,
    'sunriseTime': 20059200,
    'sunsetTime': 20110920,
    'moonPhase': 0.68,
    'windSpeed': 9.12,
    'windBearing': 108,
    'cloudCover': 0.84,
    'uvIndex': 4,
    'uvIndexTime': 20084100}]},
 'flags': {'sources': ['cmc', 'gfs', 'icon', 'isd', 'madis'],
  'nearest-station': 1.22,
  'units': 'us'},
 'offset': 1}

In [82]:
for key in response.json().keys():
    print(key)
    value = response.json()[key] #Use standard dictionary formatting
    print(type(value)) #What type is it?
    print('\n') #Separate out data

latitude
<class 'float'>


longitude
<class 'float'>


timezone
<class 'str'>


currently
<class 'dict'>


hourly
<class 'dict'>


daily
<class 'dict'>


flags
<class 'dict'>


offset
<class 'int'>

In [144]:
response.json()['daily']

{'data': [{'time': 20041200,
   'sunriseTime': 20059200,
   'sunsetTime': 20110920,
   'moonPhase': 0.68,
   'windSpeed': 9.12,
   'windBearing': 108,
   'cloudCover': 0.84,
   'uvIndex': 4,
   'uvIndexTime': 20084100}]}

In [76]:
import pandas as pd

df = pd.DataFrame.from_dict(response.json()['hourly'])
print(len(df)) #Print how many rows
print(df.columns) #Print column names
df

24
Index(['data'], dtype='object')

                                                 data
0   {'time': 20041200, 'windSpeed': 8.05, 'windBea...
1   {'time': 20044800, 'temperature': 68.14, 'appa...
2   {'time': 20048400, 'windSpeed': 8.05, 'windBea...
3   {'time': 20052000, 'windSpeed': 5.82, 'windBea...
4   {'time': 20055600, 'temperature': 64.18, 'appa...
5   {'time': 20059200, 'windSpeed': 6.93, 'windBea...
6   {'time': 20062800, 'windSpeed': 8.05, 'windBea...
7   {'time': 20066400, 'temperature': 63.1, 'appar...
8   {'time': 20070000, 'windSpeed': 13.88, 'windBe...
9   {'time': 20073600, 'windSpeed': 12.76, 'windBe...
10  {'time': 20077200, 'temperature': 70.11, 'appa...
11  {'time': 20080800, 'windSpeed': 14.99, 'windBe...
12  {'time': 20084400, 'windSpeed': 13.88, 'windBe...
13  {'time': 20088000, 'temperature': 73.19, 'appa...
14  {'time': 20091600, 'windSpeed': 9.18, 'windBea...
15  {'time': 20095200, 'windSpeed': 13.88, 'windBe...
16  {'time': 20098800, 'temperature': 75.15, 'appa...
17  {'time': 20102400, 'windSpeed': 11.39, 'windBe...
18  {'time': 20106000, 'windSpeed': 6.93, 'windBea...
19  {'time': 20109600, 'temperature': 64.18, 'appa...
20  {'time': 20113200, 'windSpeed': 3.36, 'windBea...
21  {'time': 20116800, 'windSpeed': 3.36, 'windBea...
22  {'time': 20120400, 'temperature': 64.18, 'appa...
23  {'time': 20124000, 'windSpeed': 6.93, 'windBea...

In [80]:
# Still can't get precipitation... but here is the humidity!
df.data[16]['humidity']

0.44

In [42]:
# This didn't work passing in arguments
import requests

key = api_key
lat = 52.520008
lon = 13.404954
time = 20120419

def getweather(key,lat,lon,time):
    response = requests.get('https://api.darksky.net/forecast/key/lat,lon,time')
    return response
print(response)
print(type(response.text))
print(response.text[0:450])

getweather(key,lat,lon,time)

<Response [400]>
<class 'str'>
{"code":400,"error":"Poorly formatted request"}

In [45]:
response.json()

{'code': 400, 'error': 'Poorly formatted request'}

In [13]:
# Couldn't get this to work, with header Authorization: Bearer stuff!
import requests
import pandas as pd

api_key = api_key
latitude = '52.520008'
longitude = '13.404954'
time = '20120218'

url = 'https://api.darksky.net/forecast/'

headers = {
            'Authorization': 'Bearer {}'.format(api_key),
          }

url_params = {
                'latitude': latitude.replace(' ', '+'),
                'longitude': longitude.replace(' ', '+'),
                'time': time.replace(' ', '+')
             }
response = requests.get(url, headers=headers, params=url_params)
print(response)
print(type(response.text))
print(response.text[0:500])

<Response [400]>
<class 'str'>
{"code":400,"error":"Poorly formatted request"}

In [140]:
# Secret hidden api_key
import json

def get_keys(path):
    with open(path) as f:
        return json.load(f)

key = get_keys("/Users/whipxach/.secret/dark_sky_api.json")

api_key = key['api_key']

In [200]:
# API Request with working format and UNIX date!
url_params = {
                'api_key': api_key, 
                "latitude":'52.520008',
                "longitude":'13.404954',
                "time":'1294808400'
             }


response = requests.get('https://api.darksky.net/forecast/{api_key}/{latitude},{longitude},{time}?exclude=hourly,flags'.format(**url_params))
print(response)
print(response.text[0:1000])

<Response [200]>
{"latitude":52.520008,"longitude":13.404954,"timezone":"Europe/Berlin","currently":{"time":1294808400,"summary":"Drizzle","icon":"rain","precipIntensity":0.0099,"precipProbability":1,"precipType":"rain","temperature":39.25,"apparentTemperature":31.54,"dewPoint":37.4,"humidity":0.93,"windSpeed":13,"windGust":13,"windBearing":251,"cloudCover":0.89,"uvIndex":0,"visibility":3.73},"daily":{"data":[{"time":1294786800,"summary":"Light rain in the morning and overnight.","icon":"rain","sunriseTime":1294816440,"sunsetTime":1294845480,"moonPhase":0.26,"precipIntensity":0.001,"precipIntensityMax":0.01,"precipIntensityMaxTime":1294808820,"precipProbability":1,"precipType":"rain","temperatureHigh":41.65,"temperatureHighTime":1294834860,"temperatureLow":36.83,"temperatureLowTime":1294874640,"apparentTemperatureHigh":33.17,"apparentTemperatureHighTime":1294837140,"apparentTemperatureLow":30.93,"apparentTemperatureLowTime":1294873380,"dewPoint":33.38,"humidity":0.8,"windSpeed":11.81,"windGust":19.09,"windGustTime":1294832820,"windBearing":244,"cloudCover":0.81,"uvIndex":1,"uvIndexTime":1294830780,"visibility":6.071,"temperatureMin":36.86,"temperatureMinTime":1294820040,"temperatureMax":41.65,"temperatureMaxTime":1294834860,"apparentTemperatureMin":28.69,"apparentTemperatureMinTime":1294822440,"apparentTemperatureMax":33.58,"apparentTemperatureMaxTime":1294866480}]},"offset":1}

In [ ]:
# Convert time SQL to string
select replace(convert(varchar, getdate(),101),'/','')