# MongoDB_Transfer

In [36]:
# Import sqlite3, load connection and cursor
import sqlite3 
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

In [37]:
cur.execute("""SELECT TeamName, SUM(FTHG) + SUM(FTAG) AS Total_Goals, COUNT(FTR) AS Total_Wins
               FROM Unique_Teams
               JOIN Teams_in_Matches
               USING(Unique_Team_ID)
               JOIN Matches
               USING(Match_ID)
               WHERE Season = 2011
               GROUP BY TeamName
               ORDER BY Total_Goals DESC
               
               ;""")
import pandas as pd
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
print(len(df))
df.head()

56

     TeamName  Total_Goals  Total_Wins
0   Blackburn          126          38
1     Arsenal          123          38
2      Bolton          123          38
3    Man City          122          38
4  Man United          122          38

In [9]:
!pip install pymongo

Requirement already satisfied: pymongo in /anaconda3/lib/python3.7/site-packages (3.9.0)

In [30]:
import pymongo

In [31]:
myclient = pymongo.MongoClient("mongodb://127.0.0.1:27017/")
soccer_db = myclient['soccer_db']

In [32]:
print(myclient.list_database_names())

['admin', 'config', 'example_database', 'lab_collection', 'local', 'test']

In [33]:
soccer_collection = soccer_db['soccer_collection']

In [39]:
soccer_collection.insert_many(df.to_dict('records'))

In [40]:
print(myclient.list_database_names())

['admin', 'config', 'example_database', 'lab_collection', 'local', 'soccer_db', 'test']

In [41]:
soccer_db

Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'soccer_db')

In [43]:
query_1 = soccer_collection.find({})
for x in query_1:
    print(x)

{'_id': ObjectId('5dd17a50f03972ec07bd0d82'), 'TeamName': 'Blackburn', 'Total_Goals': 126, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0d83'), 'TeamName': 'Arsenal', 'Total_Goals': 123, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0d84'), 'TeamName': 'Bolton', 'Total_Goals': 123, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0d85'), 'TeamName': 'Man City', 'Total_Goals': 122, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0d86'), 'TeamName': 'Man United', 'Total_Goals': 122, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0d87'), 'TeamName': 'Wolves', 'Total_Goals': 122, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0d88'), 'TeamName': 'Norwich', 'Total_Goals': 118, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0d89'), 'TeamName': 'Schalke 04', 'Total_Goals': 118, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d8a'), 'TeamName': 'FC Koln', 'Total_Goals': 114, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d8b'), 'TeamName': 'Union Berlin', 'Total_Goals': 113, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d8c'), 'TeamName': 'Chelsea', 'Total_Goals': 111, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0d8d'), 'TeamName': 'Ein Frankfurt', 'Total_Goals': 109, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d8e'), 'TeamName': 'QPR', 'Total_Goals': 109, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0d8f'), 'TeamName': 'Stuttgart', 'Total_Goals': 109, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d90'), 'TeamName': 'Munich 1860', 'Total_Goals': 108, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d91'), 'TeamName': 'Newcastle', 'Total_Goals': 107, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0d92'), 'TeamName': 'Tottenham', 'Total_Goals': 107, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0d93'), 'TeamName': 'Werder Bremen', 'Total_Goals': 107, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d94'), 'TeamName': 'Wolfsburg', 'Total_Goals': 107, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d95'), 'TeamName': 'Freiburg', 'Total_Goals': 106, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d96'), 'TeamName': 'Dortmund', 'Total_Goals': 105, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d97'), 'TeamName': 'Wigan', 'Total_Goals': 104, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0d98'), 'TeamName': 'Dresden', 'Total_Goals': 102, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d99'), 'TeamName': 'Frankfurt FSV', 'Total_Goals': 102, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d9a'), 'TeamName': 'Hertha', 'Total_Goals': 102, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d9b'), 'TeamName': 'Ingolstadt', 'Total_Goals': 101, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d9c'), 'TeamName': 'Greuther Furth', 'Total_Goals': 100, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d9d'), 'TeamName': 'Bayern Munich', 'Total_Goals': 99, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d9e'), 'TeamName': 'Fortuna Dusseldorf', 'Total_Goals': 99, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0d9f'), 'TeamName': 'Fulham', 'Total_Goals': 99, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0da0'), 'TeamName': 'Mainz', 'Total_Goals': 98, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0da1'), 'TeamName': 'Hansa Rostock', 'Total_Goals': 97, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0da2'), 'TeamName': 'West Brom', 'Total_Goals': 97, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0da3'), 'TeamName': 'Bochum', 'Total_Goals': 96, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0da4'), 'TeamName': 'Leverkusen', 'Total_Goals': 96, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0da5'), 'TeamName': 'Swansea', 'Total_Goals': 95, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0da6'), 'TeamName': 'Karlsruhe', 'Total_Goals': 94, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0da7'), 'TeamName': 'Paderborn', 'Total_Goals': 93, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0da8'), 'TeamName': 'St Pauli', 'Total_Goals': 93, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0da9'), 'TeamName': 'Hamburg', 'Total_Goals': 92, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0daa'), 'TeamName': 'Sunderland', 'Total_Goals': 91, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0dab'), 'TeamName': 'Aston Villa', 'Total_Goals': 90, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0dac'), 'TeamName': 'Everton', 'Total_Goals': 90, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0dad'), 'TeamName': 'Duisburg', 'Total_Goals': 89, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0dae'), 'TeamName': 'Stoke', 'Total_Goals': 89, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0daf'), 'TeamName': 'Hoffenheim', 'Total_Goals': 88, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0db0'), 'TeamName': 'Liverpool', 'Total_Goals': 87, 'Total_Wins': 38}
{'_id': ObjectId('5dd17a50f03972ec07bd0db1'), 'TeamName': 'Nurnberg', 'Total_Goals': 87, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0db2'), 'TeamName': 'Erzgebirge Aue', 'Total_Goals': 86, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0db3'), 'TeamName': 'Hannover', 'Total_Goals': 86, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0db4'), 'TeamName': 'Augsburg', 'Total_Goals': 85, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0db5'), 'TeamName': 'Cottbus', 'Total_Goals': 79, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0db6'), 'TeamName': 'Kaiserslautern', 'Total_Goals': 78, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0db7'), 'TeamName': 'Aachen', 'Total_Goals': 77, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0db8'), 'TeamName': "M'gladbach", 'Total_Goals': 73, 'Total_Wins': 34}
{'_id': ObjectId('5dd17a50f03972ec07bd0db9'), 'TeamName': 'Braunschweig', 'Total_Goals': 72, 'Total_Wins': 34}

In [45]:
# Or I could have saved to another result
soccer_results = soccer_collection.insert_many(df.to_dict('records'))
soccer_results

In [ ]:
# Good website: https://www.datacamp.com/community/tutorials/introduction-mongodb-python