# Total Team Wins

In [29]:
# Import sqlite3, load connection and cursor
import sqlite3 
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

In [30]:
# Try to join some of the tables
cur.execute("""SELECT * 
               FROM Teams_in_Matches
               JOIN Unique_Teams
               USING(Unique_Team_ID)
               JOIN Matches
               USING(Match_ID)
               WHERE Season = 2011
               ORDER BY Match_ID DESC
               ;""")
import pandas as pd
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
print(len(df))
print(len(df)/2) # Total number of matches for 2011 season
df.head()

1984
992.0

,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,44874,119,Wolves,E0,2011,2012-05-13,Wigan,Wolves,3,2,H
1,44874,120,Wigan,E0,2011,2012-05-13,Wigan,Wolves,3,2,H
2,44873,81,Arsenal,E0,2011,2012-05-13,West Brom,Arsenal,2,3,A
3,44873,117,West Brom,E0,2011,2012-05-13,West Brom,Arsenal,2,3,A
4,44872,92,Tottenham,E0,2011,2012-05-13,Tottenham,Fulham,2,0,H

In [31]:
# Group by Match_ID
cur.execute("""SELECT * 
               FROM Teams_in_Matches
               JOIN Unique_Teams
               USING(Unique_Team_ID)
               JOIN Matches
               USING(Match_ID)
               WHERE Season = 2011
               GROUP BY Match_ID
               ;""")
import pandas as pd
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
print(len(df))
df.head()

992

,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1092,22,Nurnberg,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1,1093,17,Stuttgart,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
2,1094,7,Wolfsburg,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A
3,1095,11,Mainz,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H
4,1096,16,Freiburg,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D

In [32]:
df.head()

,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
0,1092,22,Nurnberg,D1,2011,2012-03-31,Nurnberg,Bayern Munich,0,1,A
1,1093,17,Stuttgart,D1,2011,2011-12-11,Stuttgart,Bayern Munich,1,2,A
2,1094,7,Wolfsburg,D1,2011,2011-08-13,Wolfsburg,Bayern Munich,0,1,A
3,1095,11,Mainz,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H
4,1096,16,Freiburg,D1,2011,2012-02-18,Freiburg,Bayern Munich,0,0,D

In [33]:
# Total number of Homewins, Awaywins, and Draws for the 2011 season
df['FTR'].value_counts(normalize=True) * 992

H    450.0
A    279.0
D    263.0
Name: FTR, dtype: float64

In [34]:
# Total number of games per team
df.TeamName.value_counts().head()

Swansea           38
Stoke             36
Kaiserslautern    34
Frankfurt FSV     34
Wigan             34
Name: TeamName, dtype: int64

In [35]:
len(df[(df.FTR == "H")])

450

In [36]:
df[df.FTR == "H"].head()

,Match_ID,Unique_Team_ID,TeamName,Div,Season,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR
3,1095,11,Mainz,D1,2011,2011-11-27,Mainz,Bayern Munich,3,2,H
5,1097,6,M'gladbach,D1,2011,2012-01-20,M'gladbach,Bayern Munich,3,1,H
9,1101,18,Hannover,D1,2011,2011-10-23,Hannover,Bayern Munich,2,1,H
11,1103,3,Leverkusen,D1,2011,2012-03-03,Leverkusen,Bayern Munich,2,0,H
16,1108,2,Dortmund,D1,2011,2012-04-11,Dortmund,Bayern Munich,1,0,H

In [37]:
len(df[df.FTR == "A"])

279

In [38]:
# Total wins
450+279

729

In [102]:
# Try to join some of the tables
cur.execute("""SELECT Date, TeamName, HomeTeam, AwayTeam, FTR  
               FROM Teams_in_Matches
               JOIN Unique_Teams
               USING(Unique_Team_ID)
               JOIN Matches
               USING(Match_ID)
               WHERE Season = 2011
               
               ;""")
import pandas as pd
df = pd.DataFrame(cur.fetchall())
df.columns = [x[0] for x in cur.description]
print(len(df))
df.head()

1984

         Date       TeamName   HomeTeam       AwayTeam FTR
0  2012-03-31  Bayern Munich   Nurnberg  Bayern Munich   A
1  2012-03-31       Nurnberg   Nurnberg  Bayern Munich   A
2  2011-12-11  Bayern Munich  Stuttgart  Bayern Munich   A
3  2011-12-11      Stuttgart  Stuttgart  Bayern Munich   A
4  2011-08-13  Bayern Munich  Wolfsburg  Bayern Munich   A

In [104]:
# With one condition - works when the TeamName = HomeTeam (which isn't always true!)
import numpy as np
df['Winner'] = np.where(df['FTR']=='H', '1', '0')
df.head()

         Date       TeamName   HomeTeam       AwayTeam FTR Winner
0  2012-03-31  Bayern Munich   Nurnberg  Bayern Munich   A      0
1  2012-03-31       Nurnberg   Nurnberg  Bayern Munich   A      0
2  2011-12-11  Bayern Munich  Stuttgart  Bayern Munich   A      0
3  2011-12-11      Stuttgart  Stuttgart  Bayern Munich   A      0
4  2011-08-13  Bayern Munich  Wolfsburg  Bayern Munich   A      0

In [120]:
# With two conditions - not sure if this is correct but it seems to work.


conditions = [
    (df['TeamName'] == df['HomeTeam']) & (df['FTR'] == 'H'),
    (df['TeamName'] == df['AwayTeam']) & (df['FTR'] == 'A')]
choices = [1, 1]

df['Winner'] = np.select(conditions, choices, default=0)
df.head()

         Date       TeamName   HomeTeam       AwayTeam FTR  Winner
0  2012-03-31  Bayern Munich   Nurnberg  Bayern Munich   A       1
1  2012-03-31       Nurnberg   Nurnberg  Bayern Munich   A       0
2  2011-12-11  Bayern Munich  Stuttgart  Bayern Munich   A       1
3  2011-12-11      Stuttgart  Stuttgart  Bayern Munich   A       0
4  2011-08-13  Bayern Munich  Wolfsburg  Bayern Munich   A       1

In [121]:
df.Winner.sum()

729

In [108]:
# Trying to looks at some individual teams
df['TeamName'][0]

'Bayern Munich'

In [112]:
# Trying to locate teams
df.loc['TeamName'] = "Bayer Munich"

In [123]:
# I want to look at all the wins of a team
df.loc[df['TeamName'] == "Liverpool", ["TeamName", "Winner"]].head()

       TeamName  Winner
1228  Liverpool       0
1243  Liverpool       1
1268  Liverpool       1
1290  Liverpool       0
1320  Liverpool       0

In [115]:
# Again total number of games...
df.TeamName.value_counts().head()

Liverpool     38
Stoke         38
Sunderland    38
Wolves        38
West Brom     38
Name: TeamName, dtype: int64

In [ ]:
# I still need to sum all the wins for each team and put it in a new column "Total_Wins"

In [ ]:
# Import sqlite3, load connection and cursor again
import sqlite3 
conn = sqlite3.connect('database.sqlite')
cur = conn.cursor()

In [178]:
# Create new df with just Teams
cur.execute("""SELECT TeamName
               FROM Teams_in_Matches
               JOIN Unique_Teams
               USING(Unique_Team_ID)
               JOIN Matches
               USING(Match_ID)
               WHERE Season = 2011
               GROUP BY TeamName
               ;""")
import pandas as pd
df1 = pd.DataFrame(cur.fetchall())
df1.columns = [x[0] for x in cur.description]
print(len(df1))
df1.head()

56

        TeamName
0         Aachen
1        Arsenal
2    Aston Villa
3       Augsburg
4  Bayern Munich

In [182]:
# Create a list using groupby to find the total wins
Total_Wins = list(df.groupby('TeamName')['Winner'].sum())
print(len(Total_Wins))
Total_Wins

57

[6,
 21,
 7,
 8,
 0,
 23,
 8,
 10,
 10,
 10,
 18,
 8,
 25,
 12,
 10,
 20,
 8,
 15,
 8,
 16,
 7,
 10,
 14,
 20,
 8,
 12,
 5,
 7,
 10,
 8,
 4,
 9,
 15,
 14,
 17,
 9,
 28,
 28,
 17,
 19,
 12,
 12,
 17,
 10,
 20,
 18,
 11,
 15,
 11,
 12,
 20,
 14,
 11,
 13,
 11,
 13,
 5]

In [183]:
# Bayer Munich is in there twice, so delete the bad one.
del Total_Wins[4]
print(len(Total_Wins))

56

In [187]:
# Join list as a new column in df with just teams
df1['Total_Wins'] = Total_Wins
df1.head()

        TeamName  Total_Wins
0         Aachen           6
1        Arsenal          21
2    Aston Villa           7
3       Augsburg           8
4  Bayern Munich          23

In [55]:
# I tried some conditionals that didn't work.

# if df.FTR == 'A' in df.columns: 
#    df['Winner'] = 'L'
# else:
#    df['Winner'] = 'W'